#menu {
    padding-top:3px;
    padding-bottom:3px;
    /*
    margin-left:12px;
    margin-right:12px;
    */
    background-color: var(--menu-color);
}

#search-info {
    width:24px;
    padding-top:3px;
    padding-left:6px;
    color:steelblue;
    cursor:pointer;
}

#search-count {
    padding-bottom: 2px;
    font-size: 0.8em;
    text-shadow: 2px 2px 3px Gray;
    white-space: nowrap;
}

#search-count .fa-car {
    top: 2px;
    left: 6px;
    position: relative;
    color: Gray;
    font-size: 1.1em;
}

#btn-add {
    grid-column: 6;
}
